<%- include("partials/header.ejs") %>

<div class="min-vh-100">
    <div class="container my-5">
        <div class="row">
            <div class="gg col-15 col-md-8 ">
                <div class="content  p-4 mb-4">
                    <% if (posts.length === 0) { %>
                    <div class="text-center">
                        <h3>So empty here... 😟</h3>
                    </div>
                    <% } else { %>
                    <ul class="p-0">
                        <% posts.forEach((post) => { %>
                        <li class="p-1">
                            <p class="fs-6 fw-light"><%= post.date %></p>
                            <h3 class="fs-2 pt-serif"><a
                                    href="/view/<%= posts.indexOf(post) %>"><%=
                                    post.title %></a></h3>
                            <p class="fs-5 my-4"><%= post.content %></p>
                            <hr>
                        </li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div id="aside"
                class="content col-12 col-md-3 d-none d-xl-block mb-4">
                <div class="text-center my-4">
                    <a href="/create">
                        <button class="btn btn-light fs-5 btn-lg button-rad"
                            style="width: 90%;">Create Post</button>
                    </a>
                </div>
                <% if (posts.length === 0) { %>
                <div class="text-center">
                    <p>No posts yet...</p>
                </div>
                <% } else { %>
                <div class="px-3">
                    <p>RECENT POSTS</p>
                    <ul class="p-0">
                        <% posts.forEach((post) => { %>
                        <li>
                            <h3 class="fs-6 pt-serif"><a
                                    style="text-decoration: none;"
                                    href="/view/<%= posts.indexOf(post) %>"><%=
                                    post.title %></a></h3>
                            <hr>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
